#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

/* #pageTitle {
  display: none;
}
.ms-wikicontent {
  padding: 0px;
}
#contentRow {
  padding: 0px;
}
.ms-rte-layoutszone-inner {
  margin: 0px;
  border: none;
} */